:root{
    --cell-size: 100px;
    --mark-size: cal(var(--cell) *.9);
}
#game-board{
display: grid;
grid-template-columns: repeat(3, auto);
justify-content: center;
align-content: center;
justify-items: center;
align-items: center;
width: 100vw;
height: 100vh;

}

.square{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    font-size: 90px;
    text-align: center;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3){
    border-top: none;
}

.square:nth-child(3n + 1){
    border-left: none;
}

.square:nth-child(3n + 3){
    border-right: none;
}

.square:last-child,
.square:nth-child(8),
.square:nth-child(7){
    border-bottom: none;
}